# Sensitive Environment Variables
.env
*.env
secrets.json

# Docker & Local Infrastructure
.docker/
**/postgres_data/
**/zookeeper_data/
**/kafka_data/

# dbt logs and local profiles
**/logs/
**/target/
profiles.yml

# IDEs and OS junk
.vscode/
.idea/
.DS_Store
__pycache__/
*.pyc

# Python virtual environment
.venv/

# dbt logs and compiled artifacts
dbt_banking/logs/
dbt_banking/target/
dbt_banking/dbt_packages/